<!-- layouts/application.html.erb -->
<!DOCTYPE html>
<html>
  <head>
  <title>Furima</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "card", type: "module" %>

  <!-- ðŸ”½ Pay.jpã®CDNèª­ã¿è¾¼ã¿ï¼ˆã“ã“ã‚’è¿½åŠ ï¼ï¼‰ -->
  <script src="https://js.pay.jp/v2/pay.js"></script>
</head>


  <body>
    <%= yield %>
  </body>
</html>
